* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #181e29;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.section-1 {
    width: 100%;
    margin: auto;
    padding-top: 11rem;
    padding-bottom: 11rem;
}
@media (min-width: 1024px) { 
    .section-1 {
    width: 740px; 
    }
}

.text-1 {
    color: aliceblue;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.text-2 {
    
    color: aliceblue;
    margin-top: 1.25rem;
    font-size: 1.25rem;
    opacity: 0.8;
}

.texto-resaltado {
    color: rgb(82, 176, 202);
}

.img-1 {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
    transform: rotate(30deg);
}

.btn-linkedin {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: #4285F4;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-inline-end: 0.5rem;
    margin-bottom: 0.5rem;
    transition: bakground-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    border: none;
}

.txt-linkedin {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}

.btn-linkedin:hover {
    background-color: rgba(66, 133, 244, 0.9);
}

.btn-linkedin:focus {
    box-shadow: 0 0 0 4px rgba(66, 133, 244, 0.5);
}

.btn-github {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: #24292F;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-inline-end: 0.5rem;
    margin-bottom: 0.5rem;
    transition: bakground-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    border: none;
}

.txt-github {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}

.btn-github:hover {
    background-color: #16151dbe;
}

.btn-github:focus {
    box-shadow: 0 0 0 4px rgba(6, 10, 15, 0.292);
}

.btn-mail {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: #e33664be;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-inline-end: 0.5rem;
    margin-bottom: 0.5rem;
    transition: bakground-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    border: none;
}

.txt-mail {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}

.btn-mail:hover {
    background-color: #f84949e8;
}

.btn-mail:focus {
    box-shadow: 0 0 0 4px rgba(234, 23, 86, 0.292);
}

.section-2 {
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    padding: 15px 9%;
    padding-bottom: 100px;
}

.titulo-all-1 {
    color: aliceblue;
    font-size: 1.8rem;
    display: flex;
    letter-spacing: .5rem;
}

.titulo-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    letter-spacing: normal;
}


.section-2 .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 15px;
    margin-top: 1.5rem;
}

.section-2 .box-container .box {
    box-shadow: 0 5px 10px rgba(6, 10, 15, 0.292);
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    text-align: center;
    padding: 30px 20px;
}

.section-2 .box-container .box img {
    max-width: 100%;
    width: 80px;
    height: auto;
}

.section-2 .box-container .box h3 {
    color: #3c3c3c;
    font-size: 18px;
    padding: 10px 0;
    word-wrap: break-word;
    text-align: center;
}

.section-2 .box-container .box p {
    color: #585858;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    word-wrap: break-word;

}

.section-2 .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 3);
    transform: scale(1);
}

@media (max-width: 768px) {
    .section-2 .box-container .box {
        padding: 20px 10px; 
    }

    .section-2 .box-container .box h3 {
        font-size: 16px; 
    }

    .section-2 .box-container .box p {
        font-size: 12px; 
    }
}